In [1]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%load_ext autoreload
%autoreload 2

In [2]:
DATADIR = Path("data")

In [3]:
from data_processing import *
import data_processing as dp

from train import *

In [4]:
partitions = []
partition_list = [
    0
    if i in range(0, 4)
    else 1
    if i in range(5, 14 + 1)
    else 2
    if i in range(15, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

partition_list = [
    0
    if i == 0
    else 1
    if i in range(1, 9 + 1)
    else 2
    if i in range(10, 19 + 1)
    else 3
    if i in range(20, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})


partition_list = [
    0
    if i in range(0, 4)
    else 1
    if i in range(5, 9 + 1)
    else 2
    if i in range(10, 14 + 1)
    else 3
    if i in range(15, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

partitions.append(None)


partition_list = [
    1
    if i in range(1, 4 + 1)
    else 2
    if i in range(5, 9 + 1)
    else 3
    if i in range(10, 14 + 1)
    else 4
    if i in range(15, 19 + 1)
    else 5
    if i in range(20, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

# Trying dailies additively

In [5]:
def all_combinations_scores(dailies_names = []):
    train_scores = []
    test_scores = []
    train_scores_sel = []
    test_scores_sel = []
    splits_by_participant = []
    test_take_first = []

    # No split by participant
    SPLIT_BY_PARTICIPANT = False
    for partition in partitions:
        res = train(
            TYPE="classification",
            TARGET="value",
            SPLIT_BY_PARTICIPANT=SPLIT_BY_PARTICIPANT,
            TEST_TAKE_FIRST=-1,
            SEED=550,
            return_csv=False,
            feature_selection=True,
            partition=partition,
            verbose=False,
            dailies_names=dailies_names
        )
        train_scores.append(res[0])
        test_scores.append(res[1])
        train_scores_sel.append(res[2])
        test_scores_sel.append(res[3])
        splits_by_participant.append(SPLIT_BY_PARTICIPANT)
        test_take_first.append(0)

    # Split by participant, take first 0,1,2,3,4
    SPLIT_BY_PARTICIPANT = True
    for TEST_TAKE_FIRST in range(0, 4 + 1):
        for partition in partitions:
            res = train(
                TYPE="classification",
                TARGET="value",
                SPLIT_BY_PARTICIPANT=SPLIT_BY_PARTICIPANT,
                TEST_TAKE_FIRST=TEST_TAKE_FIRST,
                SEED=550,
                return_csv=False,
                feature_selection=True,
                partition=partition,
                verbose=False,
                dailies_names=dailies_names
            )
            train_scores.append(res[0])
            test_scores.append(res[1])
            train_scores_sel.append(res[2])
            test_scores_sel.append(res[3])
            splits_by_participant.append(SPLIT_BY_PARTICIPANT)
            test_take_first.append(TEST_TAKE_FIRST)

    df = pd.DataFrame(
        {
            "partition": [
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
            ],
            "train": train_scores,
            "test": test_scores,
            "train (fs)": train_scores_sel,
            "test (fs)": test_scores_sel,
            "SPLIT": splits_by_participant,
            "TTF": test_take_first,
        }
    )
    dailies_substr = "_".join([str(x) for x in dailies_names])
    df.to_csv("partition_results_" + dailies_substr + ".csv", index=False)

    return df

## locations (base)

df = all_combinations_scores()
df

In [6]:
df = pd.read_csv("partition_results_.csv")
df

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",96.855984,70.857143,96.653144,71.428571,False,0
1,"0, 1-9, 10-19, 20-27",96.450304,69.714286,96.146045,66.285714,False,0
2,"0-4, 5-9, 10-14, 15-27",95.740365,57.142857,95.131846,59.428571,False,0
3,base,94.523327,50.285714,94.523327,53.714286,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.233266,45.714286,94.523327,45.714286,False,0
5,"0-4, 5-14, 15-27",96.800826,56.250000,96.594427,60.416667,True,0
6,"0, 1-9, 10-19, 20-27",96.284830,46.875000,95.975232,45.833333,True,0
7,"0-4, 5-9, 10-14, 15-27",94.943240,39.583333,94.530444,39.062500,True,0
8,base,94.117647,26.562500,93.911249,28.645833,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.808050,27.083333,93.292054,32.291667,True,0
10,"0-4, 5-14, 15-27",96.837945,66.442953,96.640316,67.785235,True,1
11,"0, 1-9, 10-19, 20-27",96.343874,67.785235,96.047431,63.758389,True,1
12,"0-4, 5-9, 10-14, 15-27",95.059289,46.308725,94.664032,47.651007,True,1
13,base,94.268775,48.322148,93.873518,46.979866,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.972332,45.637584,93.478261,42.281879,True,1
15,"0-4, 5-14, 15-27",96.752627,67.543860,96.466094,70.175439,True,2
16,"0, 1-9, 10-19, 20-27",96.275072,64.035088,95.988539,65.789474,True,2
17,"0-4, 5-9, 10-14, 15-27",94.842407,51.754386,94.364852,50.000000,True,2
18,base,94.173830,43.859649,93.791786,46.491228,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.791786,44.736842,93.027698,45.614035,True,2
20,"0-4, 5-14, 15-27",96.840149,68.235294,96.561338,67.058824,True,3
21,"0, 1-9, 10-19, 20-27",96.375465,69.411765,96.096654,64.705882,True,3
22,"0-4, 5-9, 10-14, 15-27",94.981413,54.117647,94.330855,54.117647,True,3
23,base,94.330855,45.882353,93.959108,47.058824,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.959108,48.235294,93.215613,42.352941,True,3
25,"0-4, 5-14, 15-27",96.897810,61.538462,96.624088,64.615385,True,4
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
27,"0-4, 5-9, 10-14, 15-27",94.981752,50.769231,94.343066,50.769231,True,4
28,base,94.343066,52.307692,93.978102,53.846154,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.978102,44.615385,93.248175,43.076923,True,4

In [7]:
df[df["train"] == df["train"].max()]

           partition     train       test  train (fs)  test (fs)  SPLIT  TTF
25  0-4, 5-14, 15-27  96.89781  61.538462   96.624088  64.615385   True    4

In [8]:
df[df["train (fs)"] == df["train (fs)"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  96.855984  70.857143   96.653144  71.428571  False    0

In [9]:
df[df["test"] == df["test"].max()]

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4

In [10]:
df[df["test (fs)"] == df["test (fs)"].max()]

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4

## locations + mobility

df_loc_mob = all_combinations_scores(dailies_names=["mobility"])
df_loc_mob

In [11]:
df_loc_mob = pd.read_csv("partition_results_mobility.csv")
df_loc_mob

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",97.058824,66.857143,97.058824,65.142857,False,0
1,"0, 1-9, 10-19, 20-27",96.653144,65.714286,96.653144,66.857143,False,0
2,"0-4, 5-9, 10-14, 15-27",96.044625,56.000000,96.044625,55.428571,False,0
3,base,94.929006,48.000000,94.929006,48.000000,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.436105,44.571429,95.436105,44.000000,False,0
5,"0-4, 5-14, 15-27",96.800826,57.291667,96.800826,56.770833,True,0
6,"0, 1-9, 10-19, 20-27",96.388029,45.833333,96.388029,44.270833,True,0
7,"0-4, 5-9, 10-14, 15-27",95.046440,36.458333,95.046440,32.812500,True,0
8,base,94.427245,29.166667,94.427245,26.562500,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.911249,34.895833,93.911249,34.375000,True,0
10,"0-4, 5-14, 15-27",96.936759,59.731544,96.936759,62.416107,True,1
11,"0, 1-9, 10-19, 20-27",96.541502,51.006711,96.541502,51.006711,True,1
12,"0-4, 5-9, 10-14, 15-27",95.256917,41.610738,95.256917,36.912752,True,1
13,base,94.664032,36.241611,94.664032,34.899329,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.169960,37.583893,94.169960,38.926174,True,1
15,"0-4, 5-14, 15-27",96.848138,59.649123,96.848138,61.403509,True,2
16,"0, 1-9, 10-19, 20-27",96.466094,55.263158,96.466094,50.000000,True,2
17,"0-4, 5-9, 10-14, 15-27",95.033429,36.842105,95.033429,34.210526,True,2
18,base,94.555874,43.859649,94.555874,41.228070,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.982808,40.350877,93.982808,38.596491,True,2
20,"0-4, 5-14, 15-27",96.933086,64.705882,96.933086,64.705882,True,3
21,"0, 1-9, 10-19, 20-27",96.561338,57.647059,96.561338,54.117647,True,3
22,"0-4, 5-9, 10-14, 15-27",95.167286,38.823529,95.167286,36.470588,True,3
23,base,94.702602,41.176471,94.702602,43.529412,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.144981,35.294118,94.144981,40.000000,True,3
25,"0-4, 5-14, 15-27",96.989051,63.076923,96.989051,63.076923,True,4
26,"0, 1-9, 10-19, 20-27",96.532847,66.153846,96.532847,69.230769,True,4
27,"0-4, 5-9, 10-14, 15-27",95.164234,43.076923,95.164234,40.000000,True,4
28,base,94.708029,49.230769,94.708029,47.692308,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.160584,43.076923,94.160584,44.615385,True,4

In [12]:
df_loc_mob[df_loc_mob["train"] == df_loc_mob["train"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0

In [13]:
df_loc_mob[df_loc_mob["train (fs)"] == df_loc_mob["train (fs)"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0

In [14]:
df_loc_mob[df_loc_mob["test"] == df_loc_mob["test"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0

In [15]:
df_loc_mob[df_loc_mob["test (fs)"] == df_loc_mob["test (fs)"].max()]

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.532847,66.153846,96.532847,69.230769,True,4

## locations + mobility + phone

df_loc_mob_phone1 = all_combinations_scores(dailies_names=["mobility", "phone"])
df_loc_mob_phone1

In [16]:
df_loc_mob_phone = pd.read_csv("partition_results_mobility_phone.csv")
df_loc_mob_phone

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",97.160243,65.714286,97.058824,66.857143,False,0
1,"0, 1-9, 10-19, 20-27",96.754564,68.571429,96.653144,65.714286,False,0
2,"0-4, 5-9, 10-14, 15-27",96.146045,58.285714,96.044625,55.428571,False,0
3,base,95.131846,47.428571,94.929006,48.000000,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.638945,42.285714,95.436105,44.000000,False,0
5,"0-4, 5-14, 15-27",96.904025,52.083333,96.800826,56.250000,True,0
6,"0, 1-9, 10-19, 20-27",96.594427,45.833333,96.388029,47.916667,True,0
7,"0-4, 5-9, 10-14, 15-27",95.149639,32.291667,95.046440,32.812500,True,0
8,base,94.633643,26.041667,94.427245,32.812500,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.220846,31.250000,93.911249,34.375000,True,0
10,"0-4, 5-14, 15-27",97.035573,56.375839,96.936759,60.402685,True,1
11,"0, 1-9, 10-19, 20-27",96.739130,54.362416,96.541502,48.322148,True,1
12,"0-4, 5-9, 10-14, 15-27",95.355731,38.255034,95.256917,36.912752,True,1
13,base,94.861660,38.926174,94.664032,36.912752,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.466403,37.583893,94.169960,38.926174,True,1
15,"0-4, 5-14, 15-27",96.943649,60.526316,96.848138,62.280702,True,2
16,"0, 1-9, 10-19, 20-27",96.657116,54.385965,96.466094,49.122807,True,2
17,"0-4, 5-9, 10-14, 15-27",95.128940,33.333333,95.033429,34.210526,True,2
18,base,94.746896,39.473684,94.555874,36.842105,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.269341,35.964912,93.982808,38.596491,True,2
20,"0-4, 5-14, 15-27",97.026022,62.352941,96.933086,61.176471,True,3
21,"0, 1-9, 10-19, 20-27",96.747212,55.294118,96.561338,58.823529,True,3
22,"0-4, 5-9, 10-14, 15-27",95.260223,38.823529,95.167286,37.647059,True,3
23,base,94.888476,40.000000,94.702602,43.529412,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.423792,37.647059,94.144981,40.000000,True,3
25,"0-4, 5-14, 15-27",97.080292,60.000000,96.989051,63.076923,True,4
26,"0, 1-9, 10-19, 20-27",96.715328,66.153846,96.532847,64.615385,True,4
27,"0-4, 5-9, 10-14, 15-27",95.255474,46.153846,95.164234,40.000000,True,4
28,base,94.890511,43.076923,94.708029,44.615385,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.434307,49.230769,94.160584,44.615385,True,4

In [18]:
df_loc_mob_phone[df_loc_mob_phone["train"] == df_loc_mob_phone["train"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [19]:
df_loc_mob_phone[df_loc_mob_phone["train (fs)"] == df_loc_mob_phone["train (fs)"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [20]:
df_loc_mob_phone[df_loc_mob_phone["test"] == df_loc_mob_phone["test"].max()]

,partition,train,test,train (fs),test (fs),SPLIT,TTF
1,"0, 1-9, 10-19, 20-27",96.754564,68.571429,96.653144,65.714286,False,0

In [21]:
df_loc_mob_phone[df_loc_mob_phone["test (fs)"] == df_loc_mob_phone["test (fs)"].max()]

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

## Comparison

In [22]:
pd.concat([
    df[df["train"] == df["train"].max()], 
    df_loc_mob[df_loc_mob["train"] == df_loc_mob["train"].max()], 
    df_loc_mob_phone[df_loc_mob_phone["train"] == df_loc_mob_phone["train"].max()]], axis=0)

           partition      train       test  train (fs)  test (fs)  SPLIT  TTF
25  0-4, 5-14, 15-27  96.897810  61.538462   96.624088  64.615385   True    4
0   0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0
0   0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [23]:
pd.concat([
    df[df["train (fs)"] == df["train (fs)"].max()],
    df_loc_mob[df_loc_mob["train (fs)"] == df_loc_mob["train (fs)"].max()],
    df_loc_mob_phone[df_loc_mob_phone["train (fs)"] == df_loc_mob_phone["train (fs)"].max()]], axis=0)

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  96.855984  70.857143   96.653144  71.428571  False    0
0  0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0
0  0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [24]:
pd.concat([
    df[df["test"] == df["test"].max()],
    df_loc_mob[df_loc_mob["test"] == df_loc_mob["test"].max()],
    df_loc_mob_phone[df_loc_mob_phone["test"] == df_loc_mob_phone["test"].max()]], axis=0)

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
0,"0-4, 5-14, 15-27",97.058824,66.857143,97.058824,65.142857,False,0
1,"0, 1-9, 10-19, 20-27",96.754564,68.571429,96.653144,65.714286,False,0

In [25]:
pd.concat([
    df[df["test (fs)"] == df["test (fs)"].max()],
    df_loc_mob[df_loc_mob["test (fs)"] == df_loc_mob["test (fs)"].max()],
    df_loc_mob_phone[df_loc_mob_phone["test (fs)"] == df_loc_mob_phone["test (fs)"].max()]], axis=0)

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
26,"0, 1-9, 10-19, 20-27",96.532847,66.153846,96.532847,69.230769,True,4
0,"0-4, 5-14, 15-27",97.160243,65.714286,97.058824,66.857143,False,0

# Add CV


Do everything with

-> Split by the participant, and take one row, cross-validation (10-n), dailies =-> TBD

In [26]:
# Check balanced accuracy instead of raw and plot distributions
# Maybe look at the distr of the RMSE for regression

# Also, maybe use the std. instead of just the mean for features
# Try to use significant cross-validation
# Maybe apply feature selection:
#    * Automatic feature selection
#    * Manual: e.g. greatly reduce the number of location categories except for work and home
# Try to see the effect of some hyperparameters of the random forest

# Use only a few initial weeks in training for some patients
# Maybe try to improve the context with previous information

# Try different targets:
#    * The original sum_phq9 (not the column sum of 9 questions)
#    * Target each question separately
from collections import defaultdict
import cv
from data_processing import *
import data_processing as dp
import metrics

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor


def train_cv(
    TYPE="classification",
    TARGET="value",
    SPLIT_BY_PARTICIPANT=False,
    TEST_TAKE_FIRST=0,
    SEED=550,
    N_SPLIT=5,
    return_csv=False,
    use_counts=False,
    feature_selection=False,
    partition=None,
    verbose=True,
    dailies_names=[]
):
    phq9 = dp.load_phq9_targets(DATADIR / "df_phq9.csv", type=TYPE, target=TARGET, partition=partition)
    locations = load_locations(DATADIR / "df_location_ratio.csv")
    demographics = load_demographics(DATADIR / "df_demographics.csv")
    
    dailies = [("locations", locations)]

    if "mobility" in dailies_names:
        mobility = load_passive_mobility(DATADIR / "df_passive_mobility_features.csv")
        dailies.append(("mobility", mobility))
    if "phone" in dailies_names:
        phone = load_passive_phone(
            DATADIR / "df_passive_phone_communication_features_brighten_v2.csv"
        )
        dailies.append(("phone", phone))


    combined, merge_result = dp.combine(
        phq9,
        dailies=dailies,
        constants=[demographics],
        prev_phq9=False,
    )
    combined = dp.rf_preprocess(combined)
    if return_csv:
        return combined

    # print('Train set shape:', x_train.shape)
    # print('Test set shape:', x_test.shape)
    # n = len(y_train) + len(y_test)
    # train_pct = len(y_train) / n * 100
    # test_pct = len(y_test) / n * 100
    # print(f'Ratio: {train_pct:.2f}%/{test_pct:.2f}%')
    # print()

    metric_dict = defaultdict(list)
    gen = (
        cv.per_patient_cv(combined, N_SPLIT, TEST_TAKE_FIRST)
        if SPLIT_BY_PARTICIPANT
        else cv.per_row_cv(combined, N_SPLIT)
    )
    for i, (x_train, x_test, y_train, y_test) in enumerate(gen):
        print(f"--- Split {i} ---")
        if x_train is None:
            print("Skipped, because take first emptied the test set.")
            continue
        if TYPE == "regression":

            def rmse(x, y):
                return np.sqrt(((x - y) ** 2).mean())

            model = RandomForestRegressor(
                n_estimators=300, n_jobs=-1, random_state=SEED
            )
            model.fit(x_train, y_train)

            train_rmse = rmse(y_train, model.predict(x_train))
            test_rmse = rmse(y_test, model.predict(x_test))
            print(f"Train set RMSE: {train_rmse:.4f}")
            print(f"Test set RMSE:  {test_rmse:.4f}")

            train_score = model.score(x_train, y_train)
            test_score = model.score(x_test, y_test)
            print(f"Train score:", train_score)
            print(f"Test score:", test_score)

            return train_score, test_score
        elif TYPE == "classification":

            model = RandomForestClassifier(
                n_estimators=300, n_jobs=-1, random_state=SEED
            )
            model.fit(x_train, y_train)

            y_full = np.concatenate((y_train, y_test))
            random_acc = (
                100 * (y_full == np.random.randint(0, 5, size=y_full.shape)).mean()
            )
            # train_acc = 100 * model.score(x_train, y_train)
            # test_acc = 100 * model.score(x_test, y_test)
            # print(f'Train set accuracy: {train_acc:.2f}%')
            # print(f'Test set accuracy:  {test_acc:.2f}%')
            print(f"Random full accuracy: {random_acc:.2f}%")

            # figs, axes = plt.subplots(1, 2, figsize=(16, 6))
            axes = [None, None]

            print("Train set:")
            train_bal, train_mean = metrics.accuracy_info(
                y_train,
                model.predict(x_train),
                prefix="Training",
                ax=axes[0],
                plot=False,
            )

            print("Test set:")
            test_bal, test_mean = metrics.accuracy_info(
                y_test, model.predict(x_test), prefix="Test", ax=axes[1], plot=False
            )

            metric_dict["train_bal"].append(train_bal)
            metric_dict["train_mean"].append(train_mean)
            metric_dict["test_bal"].append(test_bal)
            metric_dict["test_mean"].append(test_mean)

    for k, v in metric_dict.items():
        metric_dict[k] = np.array(v)

    return metric_dict

In [32]:
def all_combinations_scores_cv(dailies_names=[]):
    train_bal_scores = []
    train_mean_scores = []
    test_bal_scores = []
    test_mean_scores = []

    for partition in partitions:
        metric_dict = train_cv(
            TYPE="classification",
            TARGET="value",
            SPLIT_BY_PARTICIPANT=True,
            TEST_TAKE_FIRST=1,
            SEED=550,
            N_SPLIT=10,
            return_csv=False,
            use_counts=False,
            feature_selection=True,
            partition=partition,
            verbose=False,
            dailies_names=dailies_names,
        )
        train_bal_scores.append(metric_dict['train_bal'].mean())
        train_mean_scores.append(metric_dict['train_mean'].mean())
        test_bal_scores.append(metric_dict['test_bal'].mean())
        test_mean_scores.append(metric_dict['test_mean'].mean())

    df_cv = pd.DataFrame(
        {
            "partition": [
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
            ],
            "train bal": train_bal_scores,
            "train mean": train_mean_scores,
            "test bal": test_bal_scores,
            "test mean": test_mean_scores,
        }
    )
    dailies_substr = "_".join([str(x) for x in dailies_names])
    df_cv.to_csv("partition_results_" + dailies_substr + "_csv.csv", index=False)

    return df_cv

## locations (base)

In [33]:
df_loc_cv = all_combinations_scores_cv()
df_loc_cv

--- Split 0 ---
Random full accuracy: 22.22%
Train set:
Mean accuracy: 96.744%
Balanced accuracy: 95.323%
Test set:
Mean accuracy: 56.977%
Balanced accuracy: 43.385%
--- Split 1 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 96.741%
Balanced accuracy: 95.437%
Test set:
Mean accuracy: 60.920%
Balanced accuracy: 47.381%
--- Split 2 ---
Random full accuracy: 18.60%
Train set:
Mean accuracy: 96.834%
Balanced accuracy: 95.370%
Test set:
Mean accuracy: 64.368%
Balanced accuracy: 48.033%
--- Split 3 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 97.103%
Balanced accuracy: 95.817%
Test set:
Mean accuracy: 57.143%
Balanced accuracy: 46.525%
--- Split 4 ---
Random full accuracy: 19.29%
Train set:
Mean accuracy: 96.750%
Balanced accuracy: 96.075%
Test set:
Mean accuracy: 65.476%
Balanced accuracy: 54.244%
--- Split 5 ---
Random full accuracy: 19.81%
Train set:
Mean accuracy: 97.023%
Balanced accuracy: 95.524%
Test set:
Mean accuracy: 53.488%
Balanced accuracy: 38.943%
--- Split 6 ---
Random full accuracy: 19.98%
Train set:
Mean accuracy: 97.212%
Balanced accuracy: 96.750%
Test set:
Mean accuracy: 69.412%
Balanced accuracy: 55.667%
--- Split 7 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 97.300%
Balanced accuracy: 96.396%
Test set:
Mean accuracy: 64.368%
Balanced accuracy: 55.953%
--- Split 8 ---
Random full accuracy: 19.04%
Train set:
Mean accuracy: 96.735%
Balanced accuracy: 95.396%
Test set:
Mean accuracy: 62.921%
Balanced accuracy: 48.326%
--- Split 9 ---
Random full accuracy: 19.47%
Train set:
Mean accuracy: 97.188%
Balanced accuracy: 96.527%
Test set:
Mean accuracy: 60.638%
Balanced accuracy: 45.924%
--- Split 0 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 96.369%
Balanced accuracy: 96.487%
Test set:
Mean accuracy: 49.425%
Balanced accuracy: 30.446%
--- Split 1 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 96.919%
Balanced accuracy: 97.374%
Test set:
Mean accuracy: 57.778%
Balanced accuracy: 36.637%
--- Split 2 ---
Random full accuracy: 22.39%
Train set:
Mean accuracy: 96.555%
Balanced accuracy: 96.747%
Test set:
Mean accuracy: 50.575%
Balanced accuracy: 45.605%
--- Split 3 ---
Random full accuracy: 20.76%
Train set:
Mean accuracy: 96.193%
Balanced accuracy: 96.024%
Test set:
Mean accuracy: 57.143%
Balanced accuracy: 36.468%
--- Split 4 ---
Random full accuracy: 21.53%
Train set:
Mean accuracy: 96.279%
Balanced accuracy: 96.082%
Test set:
Mean accuracy: 55.814%
Balanced accuracy: 42.857%
--- Split 5 ---
Random full accuracy: 18.86%
Train set:
Mean accuracy: 96.735%
Balanced accuracy: 97.260%
Test set:
Mean accuracy: 60.674%
Balanced accuracy: 37.646%
--- Split 6 ---
Random full accuracy: 19.38%
Train set:
Mean accuracy: 96.359%
Balanced accuracy: 96.766%
Test set:
Mean accuracy: 53.333%
Balanced accuracy: 31.318%
--- Split 7 ---
Random full accuracy: 17.31%
Train set:
Mean accuracy: 96.468%
Balanced accuracy: 96.323%
Test set:
Mean accuracy: 64.706%
Balanced accuracy: 63.646%
--- Split 8 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 96.445%
Balanced accuracy: 96.206%
Test set:
Mean accuracy: 65.217%
Balanced accuracy: 57.187%
--- Split 9 ---
Random full accuracy: 18.17%
Train set:
Mean accuracy: 96.279%
Balanced accuracy: 96.714%
Test set:
Mean accuracy: 56.977%
Balanced accuracy: 44.089%
--- Split 0 ---
Random full accuracy: 19.64%
Train set:
Mean accuracy: 95.149%
Balanced accuracy: 95.105%
Test set:
Mean accuracy: 43.820%
Balanced accuracy: 37.735%
--- Split 1 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 95.624%
Balanced accuracy: 95.525%
Test set:
Mean accuracy: 31.034%
Balanced accuracy: 28.843%
--- Split 2 ---
Random full accuracy: 20.93%
Train set:
Mean accuracy: 94.977%
Balanced accuracy: 95.492%
Test set:
Mean accuracy: 46.512%
Balanced accuracy: 41.808%
--- Split 3 ---
Random full accuracy: 19.29%
Train set:
Mean accuracy: 95.158%
Balanced accuracy: 95.814%
Test set:
Mean accuracy: 43.678%
Balanced accuracy: 37.130%
--- Split 4 ---
Random full accuracy: 20.16%
Train set:
Mean accuracy: 94.958%
Balanced accuracy: 95.039%
Test set:
Mean accuracy: 52.222%
Balanced accuracy: 51.963%
--- Split 5 ---
Random full accuracy: 18.35%
Train set:
Mean accuracy: 95.620%
Balanced accuracy: 95.987%
Test set:
Mean accuracy: 56.818%
Balanced accuracy: 54.476%
--- Split 6 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 94.963%
Balanced accuracy: 95.015%
Test set:
Mean accuracy: 40.449%
Balanced accuracy: 35.617%
--- Split 7 ---
Random full accuracy: 17.66%
Train set:
Mean accuracy: 95.251%
Balanced accuracy: 95.520%
Test set:
Mean accuracy: 36.782%
Balanced accuracy: 32.484%
--- Split 8 ---
Random full accuracy: 17.14%
Train set:
Mean accuracy: 94.893%
Balanced accuracy: 94.913%
Test set:
Mean accuracy: 36.905%
Balanced accuracy: 32.589%
--- Split 9 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 95.429%
Balanced accuracy: 95.492%
Test set:
Mean accuracy: 43.820%
Balanced accuracy: 38.393%
--- Split 0 ---
Random full accuracy: 21.02%
Train set:
Mean accuracy: 94.112%
Balanced accuracy: 94.610%
Test set:
Mean accuracy: 49.451%
Balanced accuracy: 42.709%
--- Split 1 ---
Random full accuracy: 19.64%
Train set:
Mean accuracy: 95.149%
Balanced accuracy: 95.467%
Test set:
Mean accuracy: 37.079%
Balanced accuracy: 33.093%
--- Split 2 ---
Random full accuracy: 20.50%
Train set:
Mean accuracy: 94.698%
Balanced accuracy: 95.155%
Test set:
Mean accuracy: 44.186%
Balanced accuracy: 50.434%
--- Split 3 ---
Random full accuracy: 19.12%
Train set:
Mean accuracy: 94.595%
Balanced accuracy: 94.812%
Test set:
Mean accuracy: 32.955%
Balanced accuracy: 36.729%
--- Split 4 ---
Random full accuracy: 19.90%
Train set:
Mean accuracy: 94.413%
Balanced accuracy: 94.947%
Test set:
Mean accuracy: 28.736%
Balanced accuracy: 31.048%
--- Split 5 ---
Random full accuracy: 18.69%
Train set:
Mean accuracy: 94.398%
Balanced accuracy: 94.734%
Test set:
Mean accuracy: 41.111%
Balanced accuracy: 34.574%
--- Split 6 ---
Random full accuracy: 19.47%
Train set:
Mean accuracy: 95.065%
Balanced accuracy: 95.442%
Test set:
Mean accuracy: 37.931%
Balanced accuracy: 33.173%
--- Split 7 ---
Random full accuracy: 20.59%
Train set:
Mean accuracy: 94.688%
Balanced accuracy: 95.032%
Test set:
Mean accuracy: 39.773%
Balanced accuracy: 40.696%
--- Split 8 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 94.517%
Balanced accuracy: 94.916%
Test set:
Mean accuracy: 44.706%
Balanced accuracy: 48.357%
--- Split 9 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 94.424%
Balanced accuracy: 94.885%
Test set:
Mean accuracy: 37.647%
Balanced accuracy: 36.044%
--- Split 0 ---
Random full accuracy: 17.66%
Train set:
Mean accuracy: 94.413%
Balanced accuracy: 95.830%
Test set:
Mean accuracy: 32.184%
Balanced accuracy: 29.169%
--- Split 1 ---
Random full accuracy: 17.40%
Train set:
Mean accuracy: 94.595%
Balanced accuracy: 95.434%
Test set:
Mean accuracy: 38.636%
Balanced accuracy: 29.275%
--- Split 2 ---
Random full accuracy: 16.62%
Train set:
Mean accuracy: 93.942%
Balanced accuracy: 94.870%
Test set:
Mean accuracy: 22.727%
Balanced accuracy: 21.644%
--- Split 3 ---
Random full accuracy: 18.43%
Train set:
Mean accuracy: 94.501%
Balanced accuracy: 95.578%
Test set:
Mean accuracy: 45.455%
Balanced accuracy: 38.804%
--- Split 4 ---
Random full accuracy: 15.85%
Train set:
Mean accuracy: 94.403%
Balanced accuracy: 95.632%
Test set:
Mean accuracy: 38.202%
Balanced accuracy: 29.604%
--- Split 5 ---
Random full accuracy: 15.93%
Train set:
Mean accuracy: 94.227%
Balanced accuracy: 95.522%
Test set:
Mean accuracy: 35.632%
Balanced accuracy: 26.401%
--- Split 6 ---
Random full accuracy: 16.80%
Train set:
Mean accuracy: 93.855%
Balanced accuracy: 95.278%
Test set:
Mean accuracy: 40.230%
Balanced accuracy: 32.672%
--- Split 7 ---
Random full accuracy: 16.11%
Train set:
Mean accuracy: 94.222%
Balanced accuracy: 95.116%
Test set:
Mean accuracy: 37.500%
Balanced accuracy: 27.600%
--- Split 8 ---
Random full accuracy: 17.31%
Train set:
Mean accuracy: 94.507%
Balanced accuracy: 95.807%
Test set:
Mean accuracy: 34.483%
Balanced accuracy: 29.906%
--- Split 9 ---
Random full accuracy: 18.52%
Train set:
Mean accuracy: 94.134%
Balanced accuracy: 95.145%
Test set:
Mean accuracy: 41.379%
Balanced accuracy: 40.446%

,partition,train bal,train mean,test bal,test mean
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711
1,"0, 1-9, 10-19, 20-27",0.965982,0.964601,0.425900,0.571642
2,"0-4, 5-9, 10-14, 15-27",0.953901,0.952022,0.391038,0.432041
3,base,0.950000,0.946058,0.386857,0.393573
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.954212,0.942799,0.305521,0.366428

## locations + mobility

In [34]:
df_loc_mob_cv = all_combinations_scores_cv(dailies_names=["mobility"])
df_loc_mob_cv

--- Split 0 ---
Random full accuracy: 18.95%
Train set:
Mean accuracy: 96.837%
Balanced accuracy: 95.379%
Test set:
Mean accuracy: 59.302%
Balanced accuracy: 43.519%
--- Split 1 ---
Random full accuracy: 21.71%
Train set:
Mean accuracy: 96.834%
Balanced accuracy: 96.125%
Test set:
Mean accuracy: 58.621%
Balanced accuracy: 40.286%
--- Split 2 ---
Random full accuracy: 20.24%
Train set:
Mean accuracy: 96.927%
Balanced accuracy: 95.388%
Test set:
Mean accuracy: 57.471%
Balanced accuracy: 38.561%
--- Split 3 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 97.196%
Balanced accuracy: 95.911%
Test set:
Mean accuracy: 54.945%
Balanced accuracy: 34.059%
--- Split 4 ---
Random full accuracy: 22.74%
Train set:
Mean accuracy: 96.843%
Balanced accuracy: 96.169%
Test set:
Mean accuracy: 60.714%
Balanced accuracy: 47.145%
--- Split 5 ---
Random full accuracy: 19.64%
Train set:
Mean accuracy: 97.116%
Balanced accuracy: 95.579%
Test set:
Mean accuracy: 50.000%
Balanced accuracy: 35.749%
--- Split 6 ---
Random full accuracy: 20.93%
Train set:
Mean accuracy: 97.305%
Balanced accuracy: 96.806%
Test set:
Mean accuracy: 63.529%
Balanced accuracy: 47.083%
--- Split 7 ---
Random full accuracy: 19.81%
Train set:
Mean accuracy: 97.393%
Balanced accuracy: 96.527%
Test set:
Mean accuracy: 57.471%
Balanced accuracy: 39.925%
--- Split 8 ---
Random full accuracy: 20.93%
Train set:
Mean accuracy: 96.828%
Balanced accuracy: 95.490%
Test set:
Mean accuracy: 52.809%
Balanced accuracy: 31.300%
--- Split 9 ---
Random full accuracy: 15.93%
Train set:
Mean accuracy: 97.282%
Balanced accuracy: 96.583%
Test set:
Mean accuracy: 55.319%
Balanced accuracy: 41.168%
--- Split 0 ---
Random full accuracy: 19.90%
Train set:
Mean accuracy: 96.555%
Balanced accuracy: 96.726%
Test set:
Mean accuracy: 54.023%
Balanced accuracy: 31.689%
--- Split 1 ---
Random full accuracy: 19.21%
Train set:
Mean accuracy: 97.106%
Balanced accuracy: 97.585%
Test set:
Mean accuracy: 62.222%
Balanced accuracy: 34.866%
--- Split 2 ---
Random full accuracy: 22.05%
Train set:
Mean accuracy: 96.741%
Balanced accuracy: 96.977%
Test set:
Mean accuracy: 40.230%
Balanced accuracy: 37.755%
--- Split 3 ---
Random full accuracy: 20.24%
Train set:
Mean accuracy: 96.379%
Balanced accuracy: 96.244%
Test set:
Mean accuracy: 54.762%
Balanced accuracy: 35.020%
--- Split 4 ---
Random full accuracy: 20.07%
Train set:
Mean accuracy: 96.465%
Balanced accuracy: 96.306%
Test set:
Mean accuracy: 52.326%
Balanced accuracy: 40.000%
--- Split 5 ---
Random full accuracy: 21.53%
Train set:
Mean accuracy: 96.828%
Balanced accuracy: 97.425%
Test set:
Mean accuracy: 51.685%
Balanced accuracy: 30.263%
--- Split 6 ---
Random full accuracy: 20.16%
Train set:
Mean accuracy: 96.545%
Balanced accuracy: 96.984%
Test set:
Mean accuracy: 44.444%
Balanced accuracy: 25.912%
--- Split 7 ---
Random full accuracy: 21.53%
Train set:
Mean accuracy: 96.654%
Balanced accuracy: 96.553%
Test set:
Mean accuracy: 51.765%
Balanced accuracy: 41.693%
--- Split 8 ---
Random full accuracy: 18.00%
Train set:
Mean accuracy: 96.632%
Balanced accuracy: 96.428%
Test set:
Mean accuracy: 57.609%
Balanced accuracy: 43.423%
--- Split 9 ---
Random full accuracy: 20.07%
Train set:
Mean accuracy: 96.465%
Balanced accuracy: 97.067%
Test set:
Mean accuracy: 51.163%
Balanced accuracy: 29.678%
--- Split 0 ---
Random full accuracy: 19.21%
Train set:
Mean accuracy: 95.336%
Balanced accuracy: 95.246%
Test set:
Mean accuracy: 32.584%
Balanced accuracy: 28.030%
--- Split 1 ---
Random full accuracy: 20.59%
Train set:
Mean accuracy: 95.810%
Balanced accuracy: 95.771%
Test set:
Mean accuracy: 41.379%
Balanced accuracy: 36.620%
--- Split 2 ---
Random full accuracy: 18.86%
Train set:
Mean accuracy: 95.163%
Balanced accuracy: 95.640%
Test set:
Mean accuracy: 45.349%
Balanced accuracy: 38.793%
--- Split 3 ---
Random full accuracy: 21.27%
Train set:
Mean accuracy: 95.345%
Balanced accuracy: 95.970%
Test set:
Mean accuracy: 48.276%
Balanced accuracy: 40.509%
--- Split 4 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 95.145%
Balanced accuracy: 95.219%
Test set:
Mean accuracy: 51.111%
Balanced accuracy: 46.831%
--- Split 5 ---
Random full accuracy: 18.86%
Train set:
Mean accuracy: 95.713%
Balanced accuracy: 96.079%
Test set:
Mean accuracy: 57.955%
Balanced accuracy: 51.781%
--- Split 6 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 95.149%
Balanced accuracy: 95.192%
Test set:
Mean accuracy: 35.955%
Balanced accuracy: 30.057%
--- Split 7 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 95.438%
Balanced accuracy: 95.682%
Test set:
Mean accuracy: 41.379%
Balanced accuracy: 36.319%
--- Split 8 ---
Random full accuracy: 21.27%
Train set:
Mean accuracy: 95.079%
Balanced accuracy: 95.201%
Test set:
Mean accuracy: 41.667%
Balanced accuracy: 35.389%
--- Split 9 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 95.616%
Balanced accuracy: 95.559%
Test set:
Mean accuracy: 30.337%
Balanced accuracy: 25.000%
--- Split 0 ---
Random full accuracy: 19.98%
Train set:
Mean accuracy: 94.486%
Balanced accuracy: 95.015%
Test set:
Mean accuracy: 47.253%
Balanced accuracy: 41.003%
--- Split 1 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 95.429%
Balanced accuracy: 95.839%
Test set:
Mean accuracy: 40.449%
Balanced accuracy: 30.633%
--- Split 2 ---
Random full accuracy: 19.21%
Train set:
Mean accuracy: 95.070%
Balanced accuracy: 95.514%
Test set:
Mean accuracy: 44.186%
Balanced accuracy: 44.500%
--- Split 3 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 94.967%
Balanced accuracy: 95.268%
Test set:
Mean accuracy: 37.500%
Balanced accuracy: 32.539%
--- Split 4 ---
Random full accuracy: 18.78%
Train set:
Mean accuracy: 94.786%
Balanced accuracy: 95.367%
Test set:
Mean accuracy: 29.885%
Balanced accuracy: 24.857%
--- Split 5 ---
Random full accuracy: 19.81%
Train set:
Mean accuracy: 94.678%
Balanced accuracy: 95.091%
Test set:
Mean accuracy: 27.778%
Balanced accuracy: 22.120%
--- Split 6 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 95.345%
Balanced accuracy: 95.717%
Test set:
Mean accuracy: 32.184%
Balanced accuracy: 25.618%
--- Split 7 ---
Random full accuracy: 21.10%
Train set:
Mean accuracy: 95.061%
Balanced accuracy: 95.370%
Test set:
Mean accuracy: 36.364%
Balanced accuracy: 27.835%
--- Split 8 ---
Random full accuracy: 19.98%
Train set:
Mean accuracy: 94.888%
Balanced accuracy: 95.217%
Test set:
Mean accuracy: 28.235%
Balanced accuracy: 21.000%
--- Split 9 ---
Random full accuracy: 20.50%
Train set:
Mean accuracy: 94.796%
Balanced accuracy: 95.195%
Test set:
Mean accuracy: 40.000%
Balanced accuracy: 31.512%
--- Split 0 ---
Random full accuracy: 18.17%
Train set:
Mean accuracy: 94.600%
Balanced accuracy: 95.904%
Test set:
Mean accuracy: 28.736%
Balanced accuracy: 24.255%
--- Split 1 ---
Random full accuracy: 17.57%
Train set:
Mean accuracy: 94.781%
Balanced accuracy: 95.625%
Test set:
Mean accuracy: 28.409%
Balanced accuracy: 18.222%
--- Split 2 ---
Random full accuracy: 17.48%
Train set:
Mean accuracy: 94.035%
Balanced accuracy: 94.998%
Test set:
Mean accuracy: 39.773%
Balanced accuracy: 30.084%
--- Split 3 ---
Random full accuracy: 16.97%
Train set:
Mean accuracy: 94.688%
Balanced accuracy: 95.912%
Test set:
Mean accuracy: 35.227%
Balanced accuracy: 26.597%
--- Split 4 ---
Random full accuracy: 17.57%
Train set:
Mean accuracy: 94.590%
Balanced accuracy: 95.805%
Test set:
Mean accuracy: 43.820%
Balanced accuracy: 31.512%
--- Split 5 ---
Random full accuracy: 15.93%
Train set:
Mean accuracy: 94.413%
Balanced accuracy: 95.660%
Test set:
Mean accuracy: 45.977%
Balanced accuracy: 28.200%
--- Split 6 ---
Random full accuracy: 17.74%
Train set:
Mean accuracy: 94.041%
Balanced accuracy: 95.391%
Test set:
Mean accuracy: 33.333%
Balanced accuracy: 19.325%
--- Split 7 ---
Random full accuracy: 16.71%
Train set:
Mean accuracy: 94.408%
Balanced accuracy: 95.423%
Test set:
Mean accuracy: 29.545%
Balanced accuracy: 18.599%
--- Split 8 ---
Random full accuracy: 18.17%
Train set:
Mean accuracy: 94.693%
Balanced accuracy: 95.860%
Test set:
Mean accuracy: 33.333%
Balanced accuracy: 22.589%
--- Split 9 ---
Random full accuracy: 16.02%
Train set:
Mean accuracy: 94.320%
Balanced accuracy: 95.343%
Test set:
Mean accuracy: 39.080%
Balanced accuracy: 34.185%

,partition,train bal,train mean,test bal,test mean
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182
1,"0, 1-9, 10-19, 20-27",0.968296,0.966371,0.350299,0.520229
2,"0-4, 5-9, 10-14, 15-27",0.955558,0.953792,0.369330,0.425992
3,base,0.953592,0.949505,0.301617,0.363834
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.955923,0.944569,0.253570,0.357235

## locations + mobility + phone

In [35]:
df_loc_mob_phone_cv = all_combinations_scores_cv(dailies_names=["mobility", "phone"])
df_loc_mob_phone_cv

--- Split 0 ---
Random full accuracy: 19.38%
Train set:
Mean accuracy: 96.930%
Balanced accuracy: 95.473%
Test set:
Mean accuracy: 58.140%
Balanced accuracy: 42.824%
--- Split 1 ---
Random full accuracy: 21.71%
Train set:
Mean accuracy: 96.927%
Balanced accuracy: 95.587%
Test set:
Mean accuracy: 57.471%
Balanced accuracy: 39.095%
--- Split 2 ---
Random full accuracy: 21.27%
Train set:
Mean accuracy: 97.020%
Balanced accuracy: 95.520%
Test set:
Mean accuracy: 59.770%
Balanced accuracy: 40.476%
--- Split 3 ---
Random full accuracy: 22.74%
Train set:
Mean accuracy: 97.290%
Balanced accuracy: 96.004%
Test set:
Mean accuracy: 54.945%
Balanced accuracy: 34.059%
--- Split 4 ---
Random full accuracy: 17.92%
Train set:
Mean accuracy: 96.936%
Balanced accuracy: 96.225%
Test set:
Mean accuracy: 55.952%
Balanced accuracy: 44.367%
--- Split 5 ---
Random full accuracy: 20.76%
Train set:
Mean accuracy: 97.209%
Balanced accuracy: 95.673%
Test set:
Mean accuracy: 48.837%
Balanced accuracy: 34.004%
--- Split 6 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 97.398%
Balanced accuracy: 96.937%
Test set:
Mean accuracy: 63.529%
Balanced accuracy: 47.083%
--- Split 7 ---
Random full accuracy: 19.90%
Train set:
Mean accuracy: 97.486%
Balanced accuracy: 96.583%
Test set:
Mean accuracy: 59.770%
Balanced accuracy: 43.117%
--- Split 8 ---
Random full accuracy: 21.10%
Train set:
Mean accuracy: 96.828%
Balanced accuracy: 95.414%
Test set:
Mean accuracy: 57.303%
Balanced accuracy: 35.657%
--- Split 9 ---
Random full accuracy: 20.41%
Train set:
Mean accuracy: 97.376%
Balanced accuracy: 96.639%
Test set:
Mean accuracy: 57.447%
Balanced accuracy: 44.459%
--- Split 0 ---
Random full accuracy: 17.83%
Train set:
Mean accuracy: 96.648%
Balanced accuracy: 96.777%
Test set:
Mean accuracy: 56.322%
Balanced accuracy: 32.968%
--- Split 1 ---
Random full accuracy: 21.19%
Train set:
Mean accuracy: 97.292%
Balanced accuracy: 97.808%
Test set:
Mean accuracy: 63.333%
Balanced accuracy: 35.507%
--- Split 2 ---
Random full accuracy: 20.67%
Train set:
Mean accuracy: 96.927%
Balanced accuracy: 97.334%
Test set:
Mean accuracy: 40.230%
Balanced accuracy: 37.710%
--- Split 3 ---
Random full accuracy: 21.19%
Train set:
Mean accuracy: 96.565%
Balanced accuracy: 96.731%
Test set:
Mean accuracy: 52.381%
Balanced accuracy: 33.591%
--- Split 4 ---
Random full accuracy: 18.60%
Train set:
Mean accuracy: 96.651%
Balanced accuracy: 96.665%
Test set:
Mean accuracy: 55.814%
Balanced accuracy: 42.976%
--- Split 5 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 97.015%
Balanced accuracy: 97.780%
Test set:
Mean accuracy: 50.562%
Balanced accuracy: 29.605%
--- Split 6 ---
Random full accuracy: 19.29%
Train set:
Mean accuracy: 96.639%
Balanced accuracy: 97.164%
Test set:
Mean accuracy: 41.111%
Balanced accuracy: 23.986%
--- Split 7 ---
Random full accuracy: 18.78%
Train set:
Mean accuracy: 96.840%
Balanced accuracy: 96.891%
Test set:
Mean accuracy: 44.706%
Balanced accuracy: 36.358%
--- Split 8 ---
Random full accuracy: 20.33%
Train set:
Mean accuracy: 96.819%
Balanced accuracy: 96.793%
Test set:
Mean accuracy: 58.696%
Balanced accuracy: 44.004%
--- Split 9 ---
Random full accuracy: 19.72%
Train set:
Mean accuracy: 96.651%
Balanced accuracy: 97.293%
Test set:
Mean accuracy: 44.186%
Balanced accuracy: 25.621%
--- Split 0 ---
Random full accuracy: 18.35%
Train set:
Mean accuracy: 95.429%
Balanced accuracy: 95.293%
Test set:
Mean accuracy: 33.708%
Balanced accuracy: 28.992%
--- Split 1 ---
Random full accuracy: 20.59%
Train set:
Mean accuracy: 95.903%
Balanced accuracy: 95.965%
Test set:
Mean accuracy: 42.529%
Balanced accuracy: 37.500%
--- Split 2 ---
Random full accuracy: 20.50%
Train set:
Mean accuracy: 95.256%
Balanced accuracy: 95.751%
Test set:
Mean accuracy: 43.023%
Balanced accuracy: 35.581%
--- Split 3 ---
Random full accuracy: 22.22%
Train set:
Mean accuracy: 95.345%
Balanced accuracy: 95.817%
Test set:
Mean accuracy: 47.126%
Balanced accuracy: 40.580%
--- Split 4 ---
Random full accuracy: 21.02%
Train set:
Mean accuracy: 95.238%
Balanced accuracy: 95.273%
Test set:
Mean accuracy: 46.667%
Balanced accuracy: 43.227%
--- Split 5 ---
Random full accuracy: 20.16%
Train set:
Mean accuracy: 95.806%
Balanced accuracy: 96.000%
Test set:
Mean accuracy: 54.545%
Balanced accuracy: 49.095%
--- Split 6 ---
Random full accuracy: 20.24%
Train set:
Mean accuracy: 95.243%
Balanced accuracy: 95.224%
Test set:
Mean accuracy: 39.326%
Balanced accuracy: 33.093%
--- Split 7 ---
Random full accuracy: 21.27%
Train set:
Mean accuracy: 95.531%
Balanced accuracy: 95.773%
Test set:
Mean accuracy: 39.080%
Balanced accuracy: 34.414%
--- Split 8 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 95.172%
Balanced accuracy: 95.271%
Test set:
Mean accuracy: 34.524%
Balanced accuracy: 30.249%
--- Split 9 ---
Random full accuracy: 18.86%
Train set:
Mean accuracy: 95.709%
Balanced accuracy: 95.760%
Test set:
Mean accuracy: 37.079%
Balanced accuracy: 30.298%
--- Split 0 ---
Random full accuracy: 18.60%
Train set:
Mean accuracy: 94.673%
Balanced accuracy: 95.339%
Test set:
Mean accuracy: 46.154%
Balanced accuracy: 40.262%
--- Split 1 ---
Random full accuracy: 20.67%
Train set:
Mean accuracy: 95.616%
Balanced accuracy: 96.123%
Test set:
Mean accuracy: 38.202%
Balanced accuracy: 28.280%
--- Split 2 ---
Random full accuracy: 19.47%
Train set:
Mean accuracy: 95.256%
Balanced accuracy: 95.757%
Test set:
Mean accuracy: 46.512%
Balanced accuracy: 46.479%
--- Split 3 ---
Random full accuracy: 20.07%
Train set:
Mean accuracy: 95.154%
Balanced accuracy: 95.551%
Test set:
Mean accuracy: 35.227%
Balanced accuracy: 29.490%
--- Split 4 ---
Random full accuracy: 19.29%
Train set:
Mean accuracy: 94.879%
Balanced accuracy: 95.550%
Test set:
Mean accuracy: 26.437%
Balanced accuracy: 22.631%
--- Split 5 ---
Random full accuracy: 21.27%
Train set:
Mean accuracy: 94.865%
Balanced accuracy: 95.403%
Test set:
Mean accuracy: 27.778%
Balanced accuracy: 22.880%
--- Split 6 ---
Random full accuracy: 19.55%
Train set:
Mean accuracy: 95.531%
Balanced accuracy: 96.087%
Test set:
Mean accuracy: 32.184%
Balanced accuracy: 27.030%
--- Split 7 ---
Random full accuracy: 20.84%
Train set:
Mean accuracy: 95.247%
Balanced accuracy: 95.737%
Test set:
Mean accuracy: 36.364%
Balanced accuracy: 27.373%
--- Split 8 ---
Random full accuracy: 21.10%
Train set:
Mean accuracy: 95.074%
Balanced accuracy: 95.499%
Test set:
Mean accuracy: 31.765%
Balanced accuracy: 23.762%
--- Split 9 ---
Random full accuracy: 22.39%
Train set:
Mean accuracy: 94.888%
Balanced accuracy: 95.427%
Test set:
Mean accuracy: 43.529%
Balanced accuracy: 33.581%
--- Split 0 ---
Random full accuracy: 16.28%
Train set:
Mean accuracy: 94.879%
Balanced accuracy: 96.168%
Test set:
Mean accuracy: 29.885%
Balanced accuracy: 25.970%
--- Split 1 ---
Random full accuracy: 16.88%
Train set:
Mean accuracy: 95.061%
Balanced accuracy: 95.924%
Test set:
Mean accuracy: 28.409%
Balanced accuracy: 17.865%
--- Split 2 ---
Random full accuracy: 17.92%
Train set:
Mean accuracy: 94.315%
Balanced accuracy: 95.246%
Test set:
Mean accuracy: 38.636%
Balanced accuracy: 29.370%
--- Split 3 ---
Random full accuracy: 18.00%
Train set:
Mean accuracy: 94.967%
Balanced accuracy: 96.170%
Test set:
Mean accuracy: 32.955%
Balanced accuracy: 26.081%
--- Split 4 ---
Random full accuracy: 16.71%
Train set:
Mean accuracy: 94.776%
Balanced accuracy: 96.012%
Test set:
Mean accuracy: 41.573%
Balanced accuracy: 29.012%
--- Split 5 ---
Random full accuracy: 16.62%
Train set:
Mean accuracy: 94.507%
Balanced accuracy: 95.785%
Test set:
Mean accuracy: 43.678%
Balanced accuracy: 26.624%
--- Split 6 ---
Random full accuracy: 17.14%
Train set:
Mean accuracy: 94.320%
Balanced accuracy: 95.753%
Test set:
Mean accuracy: 32.184%
Balanced accuracy: 19.287%
--- Split 7 ---
Random full accuracy: 17.92%
Train set:
Mean accuracy: 94.688%
Balanced accuracy: 95.599%
Test set:
Mean accuracy: 28.409%
Balanced accuracy: 18.327%
--- Split 8 ---
Random full accuracy: 20.59%
Train set:
Mean accuracy: 94.972%
Balanced accuracy: 96.258%
Test set:
Mean accuracy: 34.483%
Balanced accuracy: 24.407%
--- Split 9 ---
Random full accuracy: 16.88%
Train set:
Mean accuracy: 94.600%
Balanced accuracy: 95.610%
Test set:
Mean accuracy: 37.931%
Balanced accuracy: 33.852%

,partition,train bal,train mean,test bal,test mean
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165
1,"0, 1-9, 10-19, 20-27",0.971236,0.968048,0.342328,0.507340
2,"0-4, 5-9, 10-14, 15-27",0.956129,0.954631,0.363029,0.417607
3,base,0.956474,0.951182,0.301767,0.364151
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.958524,0.947084,0.250794,0.348143