In [1]:
import os
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%load_ext autoreload
%autoreload 2

In [2]:
DATADIR = Path("data")

In [3]:
from data_processing import *
import data_processing as dp

from train import *

In [4]:
partitions = []
partition_list = [
    0
    if i in range(0, 4)
    else 1
    if i in range(5, 14 + 1)
    else 2
    if i in range(15, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

partition_list = [
    0
    if i == 0
    else 1
    if i in range(1, 9 + 1)
    else 2
    if i in range(10, 19 + 1)
    else 3
    if i in range(20, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})


partition_list = [
    0
    if i in range(0, 4)
    else 1
    if i in range(5, 9 + 1)
    else 2
    if i in range(10, 14 + 1)
    else 3
    if i in range(15, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

partitions.append(None)


partition_list = [
    1
    if i in range(1, 4 + 1)
    else 2
    if i in range(5, 9 + 1)
    else 3
    if i in range(10, 14 + 1)
    else 4
    if i in range(15, 19 + 1)
    else 5
    if i in range(20, 27 + 1)
    else 0
    for i in range(0, 27 + 1)
]
partitions.append({i: v for i, v in enumerate(partition_list)})

# Trying dailies additively

In [5]:
def all_combinations_scores(dailies_names=[]):
    train_scores = []
    test_scores = []
    train_scores_sel = []
    test_scores_sel = []
    splits_by_participant = []
    test_take_first = []

    # No split by participant
    SPLIT_BY_PARTICIPANT = False
    for partition in partitions:
        res = train(
            TYPE="classification",
            TARGET="value",
            SPLIT_BY_PARTICIPANT=SPLIT_BY_PARTICIPANT,
            TEST_TAKE_FIRST=-1,
            SEED=550,
            return_csv=False,
            feature_selection=True,
            partition=partition,
            verbose=False,
            dailies_names=dailies_names,
        )
        train_scores.append(res[0])
        test_scores.append(res[1])
        train_scores_sel.append(res[2])
        test_scores_sel.append(res[3])
        splits_by_participant.append(SPLIT_BY_PARTICIPANT)
        test_take_first.append(0)

    # Split by participant, take first 0,1,2,3,4
    SPLIT_BY_PARTICIPANT = True
    for TEST_TAKE_FIRST in range(0, 4 + 1):
        for partition in partitions:
            res = train(
                TYPE="classification",
                TARGET="value",
                SPLIT_BY_PARTICIPANT=SPLIT_BY_PARTICIPANT,
                TEST_TAKE_FIRST=TEST_TAKE_FIRST,
                SEED=550,
                return_csv=False,
                feature_selection=True,
                partition=partition,
                verbose=False,
                dailies_names=dailies_names,
            )
            train_scores.append(res[0])
            test_scores.append(res[1])
            train_scores_sel.append(res[2])
            test_scores_sel.append(res[3])
            splits_by_participant.append(SPLIT_BY_PARTICIPANT)
            test_take_first.append(TEST_TAKE_FIRST)

    df = pd.DataFrame(
        {
            "partition": [
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
            ],
            "train": train_scores,
            "test": test_scores,
            "train (fs)": train_scores_sel,
            "test (fs)": test_scores_sel,
            "SPLIT": splits_by_participant,
            "TTF": test_take_first,
        }
    )
    dailies_substr = "_".join([str(x) for x in dailies_names])
    df.to_csv("partition_results_" + dailies_substr + ".csv", index=False)

    return df

## Locations (base)

df = all_combinations_scores()
df

In [6]:
df = pd.read_csv("partition_results_.csv")
df

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",96.855984,70.857143,96.653144,71.428571,False,0
1,"0, 1-9, 10-19, 20-27",96.450304,69.714286,96.146045,66.285714,False,0
2,"0-4, 5-9, 10-14, 15-27",95.740365,57.142857,95.131846,59.428571,False,0
3,base,94.523327,50.285714,94.523327,53.714286,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.233266,45.714286,94.523327,45.714286,False,0
5,"0-4, 5-14, 15-27",96.800826,56.250000,96.594427,60.416667,True,0
6,"0, 1-9, 10-19, 20-27",96.284830,46.875000,95.975232,45.833333,True,0
7,"0-4, 5-9, 10-14, 15-27",94.943240,39.583333,94.530444,39.062500,True,0
8,base,94.117647,26.562500,93.911249,28.645833,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.808050,27.083333,93.292054,32.291667,True,0
10,"0-4, 5-14, 15-27",96.837945,66.442953,96.640316,67.785235,True,1
11,"0, 1-9, 10-19, 20-27",96.343874,67.785235,96.047431,63.758389,True,1
12,"0-4, 5-9, 10-14, 15-27",95.059289,46.308725,94.664032,47.651007,True,1
13,base,94.268775,48.322148,93.873518,46.979866,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.972332,45.637584,93.478261,42.281879,True,1
15,"0-4, 5-14, 15-27",96.752627,67.543860,96.466094,70.175439,True,2
16,"0, 1-9, 10-19, 20-27",96.275072,64.035088,95.988539,65.789474,True,2
17,"0-4, 5-9, 10-14, 15-27",94.842407,51.754386,94.364852,50.000000,True,2
18,base,94.173830,43.859649,93.791786,46.491228,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.791786,44.736842,93.027698,45.614035,True,2
20,"0-4, 5-14, 15-27",96.840149,68.235294,96.561338,67.058824,True,3
21,"0, 1-9, 10-19, 20-27",96.375465,69.411765,96.096654,64.705882,True,3
22,"0-4, 5-9, 10-14, 15-27",94.981413,54.117647,94.330855,54.117647,True,3
23,base,94.330855,45.882353,93.959108,47.058824,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.959108,48.235294,93.215613,42.352941,True,3
25,"0-4, 5-14, 15-27",96.897810,61.538462,96.624088,64.615385,True,4
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
27,"0-4, 5-9, 10-14, 15-27",94.981752,50.769231,94.343066,50.769231,True,4
28,base,94.343066,52.307692,93.978102,53.846154,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.978102,44.615385,93.248175,43.076923,True,4

## Locations + Mobility

df_loc_mob = all_combinations_scores(dailies_names=["mobility"])
df_loc_mob

In [7]:
df_loc_mob = pd.read_csv("partition_results_mobility.csv")
df_loc_mob

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",97.058824,66.857143,97.058824,65.142857,False,0
1,"0, 1-9, 10-19, 20-27",96.653144,65.714286,96.653144,66.857143,False,0
2,"0-4, 5-9, 10-14, 15-27",96.044625,56.000000,96.044625,55.428571,False,0
3,base,94.929006,48.000000,94.929006,48.000000,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.436105,44.571429,95.436105,44.000000,False,0
5,"0-4, 5-14, 15-27",96.800826,57.291667,96.800826,56.770833,True,0
6,"0, 1-9, 10-19, 20-27",96.388029,45.833333,96.388029,44.270833,True,0
7,"0-4, 5-9, 10-14, 15-27",95.046440,36.458333,95.046440,32.812500,True,0
8,base,94.427245,29.166667,94.427245,26.562500,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.911249,34.895833,93.911249,34.375000,True,0
10,"0-4, 5-14, 15-27",96.936759,59.731544,96.936759,62.416107,True,1
11,"0, 1-9, 10-19, 20-27",96.541502,51.006711,96.541502,51.006711,True,1
12,"0-4, 5-9, 10-14, 15-27",95.256917,41.610738,95.256917,36.912752,True,1
13,base,94.664032,36.241611,94.664032,34.899329,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.169960,37.583893,94.169960,38.926174,True,1
15,"0-4, 5-14, 15-27",96.848138,59.649123,96.848138,61.403509,True,2
16,"0, 1-9, 10-19, 20-27",96.466094,55.263158,96.466094,50.000000,True,2
17,"0-4, 5-9, 10-14, 15-27",95.033429,36.842105,95.033429,34.210526,True,2
18,base,94.555874,43.859649,94.555874,41.228070,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",93.982808,40.350877,93.982808,38.596491,True,2
20,"0-4, 5-14, 15-27",96.933086,64.705882,96.933086,64.705882,True,3
21,"0, 1-9, 10-19, 20-27",96.561338,57.647059,96.561338,54.117647,True,3
22,"0-4, 5-9, 10-14, 15-27",95.167286,38.823529,95.167286,36.470588,True,3
23,base,94.702602,41.176471,94.702602,43.529412,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.144981,35.294118,94.144981,40.000000,True,3
25,"0-4, 5-14, 15-27",96.989051,63.076923,96.989051,63.076923,True,4
26,"0, 1-9, 10-19, 20-27",96.532847,66.153846,96.532847,69.230769,True,4
27,"0-4, 5-9, 10-14, 15-27",95.164234,43.076923,95.164234,40.000000,True,4
28,base,94.708029,49.230769,94.708029,47.692308,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.160584,43.076923,94.160584,44.615385,True,4

##Â Locations + Mobility + Phone

df_loc_mob_phone = all_combinations_scores(dailies_names=["mobility", "phone"])
df_loc_mob_phone

In [8]:
df_loc_mob_phone = pd.read_csv("partition_results_mobility_phone.csv")
df_loc_mob_phone

,partition,train,test,train (fs),test (fs),SPLIT,TTF
0,"0-4, 5-14, 15-27",97.160243,65.714286,97.058824,66.857143,False,0
1,"0, 1-9, 10-19, 20-27",96.754564,68.571429,96.653144,65.714286,False,0
2,"0-4, 5-9, 10-14, 15-27",96.146045,58.285714,96.044625,55.428571,False,0
3,base,95.131846,47.428571,94.929006,48.000000,False,0
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",95.638945,42.285714,95.436105,44.000000,False,0
5,"0-4, 5-14, 15-27",96.904025,52.083333,96.800826,56.250000,True,0
6,"0, 1-9, 10-19, 20-27",96.594427,45.833333,96.388029,47.916667,True,0
7,"0-4, 5-9, 10-14, 15-27",95.149639,32.291667,95.046440,32.812500,True,0
8,base,94.633643,26.041667,94.427245,32.812500,True,0
9,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.220846,31.250000,93.911249,34.375000,True,0
10,"0-4, 5-14, 15-27",97.035573,56.375839,96.936759,60.402685,True,1
11,"0, 1-9, 10-19, 20-27",96.739130,54.362416,96.541502,48.322148,True,1
12,"0-4, 5-9, 10-14, 15-27",95.355731,38.255034,95.256917,36.912752,True,1
13,base,94.861660,38.926174,94.664032,36.912752,True,1
14,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.466403,37.583893,94.169960,38.926174,True,1
15,"0-4, 5-14, 15-27",96.943649,60.526316,96.848138,62.280702,True,2
16,"0, 1-9, 10-19, 20-27",96.657116,54.385965,96.466094,49.122807,True,2
17,"0-4, 5-9, 10-14, 15-27",95.128940,33.333333,95.033429,34.210526,True,2
18,base,94.746896,39.473684,94.555874,36.842105,True,2
19,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.269341,35.964912,93.982808,38.596491,True,2
20,"0-4, 5-14, 15-27",97.026022,62.352941,96.933086,61.176471,True,3
21,"0, 1-9, 10-19, 20-27",96.747212,55.294118,96.561338,58.823529,True,3
22,"0-4, 5-9, 10-14, 15-27",95.260223,38.823529,95.167286,37.647059,True,3
23,base,94.888476,40.000000,94.702602,43.529412,True,3
24,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.423792,37.647059,94.144981,40.000000,True,3
25,"0-4, 5-14, 15-27",97.080292,60.000000,96.989051,63.076923,True,4
26,"0, 1-9, 10-19, 20-27",96.715328,66.153846,96.532847,64.615385,True,4
27,"0-4, 5-9, 10-14, 15-27",95.255474,46.153846,95.164234,40.000000,True,4
28,base,94.890511,43.076923,94.708029,44.615385,True,4
29,"0, 1-4, 5-9, 10-14, 15-19, 20-27",94.434307,49.230769,94.160584,44.615385,True,4

## Comparison

In [9]:
pd.concat(
    [
        df[df["train"] == df["train"].max()],
        df_loc_mob[df_loc_mob["train"] == df_loc_mob["train"].max()],
        df_loc_mob_phone[df_loc_mob_phone["train"] == df_loc_mob_phone["train"].max()],
    ],
    axis=0,
)

           partition      train       test  train (fs)  test (fs)  SPLIT  TTF
25  0-4, 5-14, 15-27  96.897810  61.538462   96.624088  64.615385   True    4
0   0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0
0   0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [10]:
pd.concat(
    [
        df[df["train (fs)"] == df["train (fs)"].max()],
        df_loc_mob[df_loc_mob["train (fs)"] == df_loc_mob["train (fs)"].max()],
        df_loc_mob_phone[
            df_loc_mob_phone["train (fs)"] == df_loc_mob_phone["train (fs)"].max()
        ],
    ],
    axis=0,
)

          partition      train       test  train (fs)  test (fs)  SPLIT  TTF
0  0-4, 5-14, 15-27  96.855984  70.857143   96.653144  71.428571  False    0
0  0-4, 5-14, 15-27  97.058824  66.857143   97.058824  65.142857  False    0
0  0-4, 5-14, 15-27  97.160243  65.714286   97.058824  66.857143  False    0

In [11]:
pd.concat(
    [
        df[df["test"] == df["test"].max()],
        df_loc_mob[df_loc_mob["test"] == df_loc_mob["test"].max()],
        df_loc_mob_phone[df_loc_mob_phone["test"] == df_loc_mob_phone["test"].max()],
    ],
    axis=0,
)

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
0,"0-4, 5-14, 15-27",97.058824,66.857143,97.058824,65.142857,False,0
1,"0, 1-9, 10-19, 20-27",96.754564,68.571429,96.653144,65.714286,False,0

In [12]:
pd.concat(
    [
        df[df["test (fs)"] == df["test (fs)"].max()],
        df_loc_mob[df_loc_mob["test (fs)"] == df_loc_mob["test (fs)"].max()],
        df_loc_mob_phone[
            df_loc_mob_phone["test (fs)"] == df_loc_mob_phone["test (fs)"].max()
        ],
    ],
    axis=0,
)

,partition,train,test,train (fs),test (fs),SPLIT,TTF
26,"0, 1-9, 10-19, 20-27",96.350365,76.923077,96.076642,73.846154,True,4
26,"0, 1-9, 10-19, 20-27",96.532847,66.153846,96.532847,69.230769,True,4
0,"0-4, 5-14, 15-27",97.160243,65.714286,97.058824,66.857143,False,0

#Â Add CV


Do everything with

-> Split by the participant, and take one row, cross-validation (10-n), dailies =-> TBD

In [13]:
# Check balanced accuracy instead of raw and plot distributions
# Maybe look at the distr of the RMSE for regression

# Also, maybe use the std. instead of just the mean for features
# Try to use significant cross-validation
# Maybe apply feature selection:
#    * Automatic feature selection
#    * Manual: e.g. greatly reduce the number of location categories except for work and home
# Try to see the effect of some hyperparameters of the random forest

# Use only a few initial weeks in training for some patients
# Maybe try to improve the context with previous information

# Try different targets:
#    * The original sum_phq9 (not the column sum of 9 questions)
#    * Target each question separately
from collections import defaultdict
import cv
from data_processing import *
import data_processing as dp
import metrics

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor


def rmse(x, y):
    return np.sqrt(((x - y) ** 2).mean())


def train_cv(
    TYPE="classification",
    TARGET="value",
    SPLIT_BY_PARTICIPANT=False,
    TEST_TAKE_FIRST=0,
    SEED=550,
    N_SPLIT=5,
    return_csv=False,
    use_counts=False,
    feature_selection=False,
    partition=None,
    verbose=False,
    dailies_names=[],
):
    phq9 = dp.load_phq9_targets(
        DATADIR / "df_phq9.csv", type=TYPE, target=TARGET, partition=partition
    )
    locations = load_locations(DATADIR / "df_location_ratio.csv")
    demographics = load_demographics(DATADIR / "df_demographics.csv")

    dailies = [("locations", locations)]

    if "mobility" in dailies_names:
        mobility = load_passive_mobility(DATADIR / "df_passive_mobility_features.csv")
        dailies.append(("mobility", mobility))
    if "phone" in dailies_names:
        phone = load_passive_phone(
            DATADIR / "df_passive_phone_communication_features_brighten_v2.csv"
        )
        dailies.append(("phone", phone))

    combined, merge_result = dp.combine(
        phq9,
        dailies=dailies,
        constants=[demographics],
        prev_phq9=False,
    )
    combined = dp.rf_preprocess(combined)
    if return_csv:
        return combined

    # print('Train set shape:', x_train.shape)
    # print('Test set shape:', x_test.shape)
    # n = len(y_train) + len(y_test)
    # train_pct = len(y_train) / n * 100
    # test_pct = len(y_test) / n * 100
    # print(f'Ratio: {train_pct:.2f}%/{test_pct:.2f}%')
    # print()

    metric_dict = defaultdict(list)
    gen = (
        cv.per_patient_cv(combined, N_SPLIT, TEST_TAKE_FIRST)
        if SPLIT_BY_PARTICIPANT
        else cv.per_row_cv(combined, N_SPLIT)
    )
    for i, (x_train, x_test, y_train, y_test) in enumerate(gen):
        if verbose:
            print(f"--- Split {i} ---")
        if x_train is None:
            print("Skipped, because take first emptied the test set.")
            continue
        if TYPE == "regression":
            model = RandomForestRegressor(
                n_estimators=300, n_jobs=-1, random_state=SEED
            )
        elif TYPE == "classification":
            model = RandomForestClassifier(
                n_estimators=300, n_jobs=-1, random_state=SEED
            )
        model.fit(x_train, y_train)

        train_rmse = rmse(y_train, model.predict(x_train))
        test_rmse = rmse(y_test, model.predict(x_test))
        train_score = model.score(x_train, y_train)
        test_score = model.score(x_test, y_test)

        y_full = np.concatenate((y_train, y_test))
        random_acc = 100 * (y_full == np.random.randint(0, 5, size=y_full.shape)).mean()

        if verbose:
            print(f"Train set RMSE: {train_rmse:.4f}")
            print(f"Test set RMSE:  {test_rmse:.4f}")
            print(f"Train score:", train_score)
            print(f"Test score:", test_score)
            print(f"Random full accuracy: {random_acc:.2f}%")

        # figs, axes = plt.subplots(1, 2, figsize=(16, 6))
        axes = [None, None]

        if verbose:
            print("Train set:")
        train_bal, train_mean = metrics.accuracy_info(
            y_train, model.predict(x_train), prefix="Training", ax=axes[0], plot=False,
            verbose=verbose
        )

        if verbose:
            print("Test set:")
        test_bal, test_mean = metrics.accuracy_info(
            y_test, model.predict(x_test), prefix="Test", ax=axes[1], plot=False,
            verbose=verbose
        )

        train_sel, test_sel = (
            feature_selection_results(
                model, combined, x_train, y_train, x_test, y_test, verbose=verbose
            )
            if feature_selection == True
            else (None, None)
        )

        metric_dict["train_bal"].append(train_bal)
        metric_dict["train_mean"].append(train_mean)
        metric_dict["test_bal"].append(test_bal)
        metric_dict["test_mean"].append(test_mean)
        metric_dict["train_sel"].append(train_sel)
        metric_dict["test_sel"].append(test_sel)

    for k, v in metric_dict.items():
        metric_dict[k] = np.array(v)

    return metric_dict

In [14]:
def all_combinations_scores_cv(dailies_names=[]):
    train_bal_scores = []
    train_mean_scores = []
    test_bal_scores = []
    test_mean_scores = []
    train_sel_scores = []
    test_sel_scores = []

    for partition in partitions:
        metric_dict = train_cv(
            TYPE="classification",
            TARGET="value",
            SPLIT_BY_PARTICIPANT=True,
            TEST_TAKE_FIRST=1,
            SEED=550,
            N_SPLIT=10,
            return_csv=False,
            use_counts=False,
            feature_selection=True,
            partition=partition,
            verbose=False,
            dailies_names=dailies_names,
        )
        train_bal_scores.append(metric_dict["train_bal"].mean())
        train_mean_scores.append(metric_dict["train_mean"].mean())
        test_bal_scores.append(metric_dict["test_bal"].mean())
        test_mean_scores.append(metric_dict["test_mean"].mean())
        train_sel_scores.append(metric_dict["train_sel"].mean()/100)
        test_sel_scores.append(metric_dict["test_sel"].mean()/100)

    df_cv = pd.DataFrame(
        {
            "partition": [
                "0-4, 5-14, 15-27",
                "0, 1-9, 10-19, 20-27",
                "0-4, 5-9, 10-14, 15-27",
                "base",
                "0, 1-4, 5-9, 10-14, 15-19, 20-27",
            ],
            "train bal": train_bal_scores,
            "train mean": train_mean_scores,
            "test bal": test_bal_scores,
            "test mean": test_mean_scores,
            "train (fs)": train_sel_scores,
            "test (fs)": test_sel_scores,
        }
    )
    dailies_substr = "_".join([str(x) for x in dailies_names])
    df_cv.to_csv("partition_results_" + dailies_substr + "_cv.csv", index=False)

    return df_cv

## Locations (base)

df_loc_cv = all_combinations_scores_cv()
df_loc_cv

In [15]:
df_loc_cv = pd.read_csv("partition_results__cv.csv")
df_loc_cv

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
1,"0, 1-9, 10-19, 20-27",0.965982,0.964601,0.425900,0.571642,0.962086,0.572479
2,"0-4, 5-9, 10-14, 15-27",0.953901,0.952022,0.391038,0.432041,0.946153,0.450533
3,base,0.950000,0.946058,0.386857,0.393573,0.942704,0.399230
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.954212,0.942799,0.305521,0.366428,0.936092,0.372072

## Locations + Mobility

df_loc_mob_cv = all_combinations_scores_cv(dailies_names=["mobility"])
df_loc_mob_cv

In [16]:
df_loc_mob_cv = pd.read_csv("partition_results_mobility_cv.csv")
df_loc_mob_cv

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
1,"0, 1-9, 10-19, 20-27",0.968296,0.966371,0.350299,0.520229,0.966371,0.502894
2,"0-4, 5-9, 10-14, 15-27",0.955558,0.953792,0.369330,0.425992,0.953792,0.407352
3,base,0.953592,0.949505,0.301617,0.363834,0.949505,0.368350
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.955923,0.944569,0.253570,0.357235,0.944569,0.344721

##Â Locations + Mobility + Phone

df_loc_mob_phone_cv = all_combinations_scores_cv(dailies_names=["mobility", "phone"])
df_loc_mob_phone_cv

In [17]:
df_loc_mob_phone_cv = pd.read_csv("partition_results_mobility_phone_cv.csv")
df_loc_mob_phone_cv

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677
1,"0, 1-9, 10-19, 20-27",0.971236,0.968048,0.342328,0.507340,0.966371,0.508948
2,"0-4, 5-9, 10-14, 15-27",0.956129,0.954631,0.363029,0.417607,0.953606,0.392542
3,base,0.956474,0.951182,0.301767,0.364151,0.949505,0.367291
4,"0, 1-4, 5-9, 10-14, 15-19, 20-27",0.958524,0.947084,0.250794,0.348143,0.944383,0.345858

## Comparison

In [18]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["train bal"] == df_loc_cv["train bal"].max()],
        df_loc_mob_cv[df_loc_mob_cv["train bal"] == df_loc_mob_cv["train bal"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["train bal"] == df_loc_mob_phone_cv["train bal"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
1,"0, 1-9, 10-19, 20-27",0.965982,0.964601,0.425900,0.571642,0.962086,0.572479
1,"0, 1-9, 10-19, 20-27",0.968296,0.966371,0.350299,0.520229,0.966371,0.502894
1,"0, 1-9, 10-19, 20-27",0.971236,0.968048,0.342328,0.507340,0.966371,0.508948

In [19]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["train mean"] == df_loc_cv["train mean"].max()],
        df_loc_mob_cv[df_loc_mob_cv["train mean"] == df_loc_mob_cv["train mean"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["train mean"] == df_loc_mob_phone_cv["train mean"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677

In [20]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["test bal"] == df_loc_cv["test bal"].max()],
        df_loc_mob_cv[df_loc_mob_cv["test bal"] == df_loc_mob_cv["test bal"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["test bal"] == df_loc_mob_phone_cv["test bal"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677

In [21]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["test mean"] == df_loc_cv["test mean"].max()],
        df_loc_mob_cv[df_loc_mob_cv["test mean"] == df_loc_mob_cv["test mean"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["test mean"] == df_loc_mob_phone_cv["test mean"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677

In [22]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["train (fs)"] == df_loc_cv["train (fs)"].max()],
        df_loc_mob_cv[df_loc_mob_cv["train (fs)"] == df_loc_mob_cv["train (fs)"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["train (fs)"] == df_loc_mob_phone_cv["train (fs)"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677

In [23]:
pd.concat(
    [
        df_loc_cv[df_loc_cv["test (fs)"] == df_loc_cv["test (fs)"].max()],
        df_loc_mob_cv[df_loc_mob_cv["test (fs)"] == df_loc_mob_cv["test (fs)"].max()],
        df_loc_mob_phone_cv[
            df_loc_mob_phone_cv["test (fs)"] == df_loc_mob_phone_cv["test (fs)"].max()
        ],
    ],
    axis=0,
)

,partition,train bal,train mean,test bal,test mean,train (fs),test (fs)
0,"0-4, 5-14, 15-27",0.958615,0.969631,0.484380,0.615711,0.965904,0.604508
0,"0-4, 5-14, 15-27",0.959956,0.970563,0.398794,0.570182,0.970563,0.557170
0,"0-4, 5-14, 15-27",0.960056,0.971401,0.405143,0.573165,0.970563,0.555677